
<div class = "span5">
<h2> KegKong's current status: </h2>
<ul>
  <li>Serving: <%=@keg.beer_type%> </li> 
  <li>Volume remaining: <%=@keg.check_volume%> gallons out of <%=@keg.max_volume%></li>
  <li><a href="/keg/<%=@keg.id %>" style="color:green">Click here to view keg </a></li>
  <br>
  <a href="/reset"><button type="button" class="btn-large">Reset keg</button></a>
</ul>
</div>


    <script type='text/javascript'>
      google.load('visualization', '1', {packages:['gauge']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['KegKong', <%=((@keg.check_volume/@keg.max_volume)*100).to_i%>],
        ]);

        var options = {
          width: 1200, height: 480,
          greenFrom: 50, greenTo: 100,
          redFrom: 0, redTo: 25,
          yellowFrom:25, yellowTo: 50,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>


    


<div class = "span5">
  <div id='chart_div'></div>
  <div style = "margin-left: 40%" class = "btn"><strong>% of Keg Remaining</strong></div>
</div>


 <!-- # button to reset keg
 # field with default value for keg volume
 # keg initialization takes value in that field as starting volume -->
