<h2> The keg is serving <%=@keg.beer_type%> </h2>


<h3> "<%=@keg.id%>. <%=@keg.beer_type%>, <%=@keg.check_volume%> out of <%=@keg.max_volume%> remaining</h3>
<a href="/keg/<%=@keg.id %>">Click here to view keg </a>

<%# button to reset keg
# field with default value for keg volume
# keg initialization takes value in that field as starting volume%>


