<div class = "span12">
   <h4>Keg ID: <%=@keg.id%> </h4> 
  <h4>Beer Type: <%=@keg.beer_type%></h4>
 <h4>Volume Remaining (gal.): <%=@keg.check_volume%> out of <%=@keg.max_volume%></h4>
 <h4>Measurements:</h4>
</div>





<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Measurement', 'Change in volume'],
          <% @keg.measurements.each_with_index do |measurement, i|%>
          <% if i == @keg.measurements.size %>
          ['<%=measurement.id%>',  <%=measurement.change_in_volume.to_f%>]
          <% else %>
          ['<%=measurement.id%>',  <%=measurement.change_in_volume.to_f%>],
          <% end %>
          <%end%>
        ]);

        var options = {
          title: 'Keg Activity Over Time',
          hAxis: {title: 'Measurements in gallons',  titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>


<div id="chart_div" class = "span5" style="width: 675px; height: 375px;"></div>

<div class = "well kegvolume span8" style="margin-top:5px">
 <ul> 
    <% @keg.measurements.each do |measurement| %>
      <li><%=measurement.id%>. Pulses: <%=measurement.pulses%>, Volume Impact: <%= measurement.change_in_volume%></li>
    <% end %>
  </ul>
</div>